{% extends 'base.html' %}

{% block title %}

	ABOUT PAGE

{% endblock %}

{% block content_title %}

	ABOUT

{% endblock %}


{% block content %}

<p>Lorem ipsum dolor sit amet,consectetur</p>
	<p>adipiscing elit, sed do eiusmod tempor</p>
	<p>incididunt ut labore et dolore magna aliqua.</p>
	<p>Ut enim ad minim veniam, quis nostrud exercitation</p>
	<p>ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<p>Duis aute irure dolor in reprehenderit in voluptate velit </p>
	<p>esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
	<p>cupidatat non proident, sunt in culpa qui officia </p>
	<p>deserunt mollit anim id est laborum</p>

{% endblock %}